.tell{
    width:320px;
}
.Symptoms{
    width: 320px;
}
.style{
    width: 320px;
}
.Effects{
    width: 320px;
}
.effects{
    width: 400px;
}
.treat{
    width: 100px;
}

.th{
    widows: 250px;
}
.paragraphs{
    width: 320px
}
.danny{
    float: left
}